.basket__image {
    width: 100%;
}
.product__rating {
    display: flex;
}
.basket__product {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.basket__info {
    padding-left: 20px;
}

.basket__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.basket__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.basket__price {
    
}

.basket__title {
    font-size: 17px;
    font-weight: 800;
}

